body {
  margin: 0;
  background-color: whitesmoke;

  &.showSlider .sliderContainer, &.mutipleMedia .sliderContainer, &.expired #expired{
    display: block;
  }

  &.noVideo .sliderContainer, &.expired #mainContent{
    display: none;
  }
}

#mainPopup {
  min-height: 100px;
  margin-bottom: 40px;
  width: 400px;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
  border-radius: 5px;
  text-align: center;
}

.padding10 {
  padding: 10px;
}

/* Slider labels */
#speedLabels {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 0 12.5px;

  > div {width: 1px;}
  .active {color: #F97E10; }
}



/* Slider Container */
.sliderContainer {
  margin-top: 20px;
  display: none; 
}

.noVidWarning {
  display: none;
  margin-top: 20px;
}

.noVideo .noVidWarning {
  display: block;
}

.multipleMediaSelect {
  display: none;
}

.mutipleMedia .multipleMediaSelect {
  display: block;
}

.mediaElement {
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  background-color: white;
  cursor: pointer;
  box-sizing: border-box;

  &.active {
    border: 1px solid #F97E10;
    padding: 9px 10px;
  }

}


.mediaLabel {
  margin-top: 5px;
}

.posterImg {
  width: 40%;
  max-height: 200px;
  margin: 0 auto;
  display: block;
}

/* Slider */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 12.5px;
  margin: 10px 0;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;

  &:hover {opacity: 1;}
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #F97E10;
    cursor: pointer;
    border-radius: 25px;
  }
}

/* TOGGLE SWITCH */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .toggle {
      background-color: #F97E10;
    }

    &:focus + .toggle {
      box-shadow: 0 0 1px #F97E10;
    }

    &:checked + .toggle:before {
      transform: translateX(26px);
    }
  }


} 

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;

  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
}



#expired {
  display: none;
}

#authButton {
  color: #F97E10;
  border-radius: 20px;
  padding: 5px 10px;
  border: 1px solid #F97E10;
  display: inline-block;
  cursor: pointer;

  &.disable{
    pointer-events: none;
    opacity: 0.5;
  }
}
